body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e8f5e9;
    color: #2e7d32;
}

header {
    background-color: #43a047;
    color: white;
    padding: 20px;
    text-align: center;
}

nav {
    background-color: #388e3c;
    text-align: center;
    color: white;
}

nav li:hover{
    background-color: #2e7d32;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    display: inline;
    padding: 1%;
    width: 30%;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

section {
    padding: 20px;
    margin: 20px;
    background-color: #f1f8e9;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #388e3c;
}

footer {
    background-color: #2e7d32;
    color: white;
    text-align: center;
    padding: 10px 0px 10px 0px;
    position: relative; 
    bottom: 0;
    width: 100%;
    font-size: 14px;
}

.gallery-grid {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-gap: 20px;
}

.gallery-grid img{
    width: 600px;
    height: 300px;
}

#quizContainer {
    margin-top: 20px;
    text-align: center;
}

#question {
    font-size: 1.2em;
    margin-bottom: 20px;
}

#options button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#options button:hover {
    background-color: #388e3c;
}

#result {
    font-size: 1.2em;
    font-weight: bold;
    margin-top: 20px;
    color: #2e7d32;
}

.options{
    display: flex;
    width: 70%;
    margin-left: 15%;
}